<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 写Sql语句   -->
<mapper namespace="cn.liulangzhe.mapper.PostMapper">


	<!-- 添加帖 -->
	<insert id="PostInsert" parameterType="cn.liulangzhe.pojo.Post">
		<selectKey keyProperty="post_id" resultType="Integer" order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
		insert into post(post_id,send_name,post_name,post_content,attention_amount,post_date,img_path1)
		values (#{post_id},#{send_name},#{post_name},#{post_content},#{attention_amount},#{post_date},#{img_path1})
	</insert>
	
	
	
	<!-- 查询帖 -->
	<select id="SelectIdPost" parameterType="Integer" resultType="cn.liulangzhe.pojo.Post">
		select * from post where post_id=#{post_id}
	</select>
	
	
	
	
	<!-- 查所有的贴，按时间来排列 -->
	<select id="FindAllPost" resultMap="cn.liulangzhe.pojo.Post">
		select *from post order by post_date desc
	 </select>
	 
	 
	 
	 <!-- 点赞功能 -->
	 <update id="thumbs_up">
	 	update post set attention_amount=attention_amount+1 where post_id=#{post_id}
	 </update>
	 
	 
	 
	 
	<!-- 转发功能 -->
	<insert id="transmit" parameterType="map">
		<selectKey keyProperty="transmit_id" resultType="Integer" order="AFTER">
			select LAST_INSERT_ID()
		</selectKey>
		insert into transmit (user_id,post_id)values (#{user_id},#{post_id})
	</insert>
	
	
	
	
	<!-- 查找贴(post_id) -->
	<select id="FindPostById" parameterType="Integer" resultType="cn.liulangzhe.pojo.Post">
		select * from post where post_id=#{post_id}
	</select>
	
	
	
	
	<!-- 评论帖 -->
	<insert id="Comment_post" parameterType="cn.liulangzhe.pojo.Post_Comment">
		insert into post_comment (post_id,commentator_id,comment_content) values 
			   (#{post_comment.post_id},#{post_comment.commentator_id},#{post_comment.comment_content})
	</insert>
	
	
</mapper>